@import "tailwindcss";

@font-face {
    font-family: 'Samarkan';
    src: url('/fonts/samarkan.TTF') format('truetype');
  }

  @font-face {
    font-family: 'Kruti';
    src: url('/fonts/kruti.ttf') format('truetype');
  }

  html {
    scroll-behavior: smooth;
  }


  body {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }